:root {
    /* Colors */
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    /* Font */
    --ff2: Fraunces;
    --fw2: 700;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Fraunces;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
    overflow: hidden;
    font-size: .875rem;
    background-color: var(--Cream);
}

h1{
  font-weight: var(--fw2);
  
}

.card {
    display: flex;
    max-height: 50%;
    max-width: 50%;
    border-radius: 0.5rem;
    background-color: var(--White);
    border: solid red 2px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    border: solid purple 5px;
}

em{
  font-family: var(--ff2);
}

.fake-img{
  width: 100%;
  background: gray;
  height: 100%;
}

.img-container,
.info {
    width: 50%;
}

.info {
    margin: 1.5rem;
}

div.info>* {
    margin: 1.4rem;
}

.price {
    display: flex;
    align-items: center;
}

.price h1 {
    color: var(--DarkCyan);
    margin-right: 1rem;
}

.price h4 {
    text-decoration: line-through;
}

button {
    background-color: var(--DarkCyan);
    color: var(--White);
    width: 80%;
    border-radius: .5rem;
    padding: 0.8rem;
    border-style: none;
    cursor: pointer;
}

button:hover{
    background-color: var(--Darkgrayishblue);
}

@media screen and (max-width: 600px){
    body{
        overflow: auto;
    }
    .card{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 90%;
      max-width: 80%;
    }

    .img-container, .info{
      width: 100%;
      max-height: 100%;
    }
  
  .fake-img{
  max-width: 100%;
  background: gray;
  max-height: 100%;
  padding: 8rem;
}
  
  button {
    width: 85%;
    }
  
}
